services:
  person-service:
    build: ./person-service
    ports:
      - "5001:5001"

  health-service:
    build: ./health-service
    ports:
      - "5002:5002"
    depends_on:
      - person-service
      
  web-app:
    build: ./web-app
    ports:
      - "5000:5000"
    depends_on:
      - health-service
